.container {
    background-color: rgb(175, 224, 208);
    max-width: 800px;
    height: 400px;
    padding: 50px;
}

.labels {
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
}

.inputs { 
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
}

input { 
    width: 500px;
}