body {
    display: flex;
    flex-wrap: wrap;
  }
  body > * {
    background: #eee;
    padding: 2rem;
    text-align: center;
    border: 5px solid white;
  }
  
  .sidebar {
    flex: 1;
  }
  .main {
    flex: 1;
  }


