body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}

.hidden {
    display: none;
}

.header {
    height: 25px;
    padding: 18px;
    background-color: #292927;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    display: inline;
    color: #f44336;
    font-weight: 600;
    font-size: 26px;
}

.header a,.header a:hover,.header a:visited,.header a:active {
    text-decoration: none;
    color: inherit;
}

.rightSide {
    display: flex;
    align-items: center;
}

.basket {
    display: flex;
    align-items: center;
}

.basket span, .admin span {
    color: #E8E8E8;
    font-size: 16px;
    padding: 2px;
    font-weight: 200;
}


.basket img {
    width: 25px;
}

.admin {
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.admin img {
    border-radius: 50%;
    width: 25px;
    margin-top: 2px;
}

.alertSuccess {
    padding: 15px;
    background-color: #008C45;
    color: white;
  }

.alertDelete {
    padding: 15px;
    background-color: #008C45;
    color: white;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

.main {
    min-height: 600px;
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#add {
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #008C45;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin: 10px 10px 10px 5px;
}

#cancel {
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: #D2122E;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin: 10px 10px 10px 5px;
}


#admin{
    border-collapse: collapse;
    margin-bottom: 50px;
}

#admin td, #basket th {
    padding: 12px;
    min-width: 35   px;
}

#admin tr:nth-child(even){background-color: #f2f2f2;}

#admin tr:hover {background-color: #ddd;}

#admin th {
    padding: 12px 8px;
    text-align: left;
    background-color: #008C45;
    color: white;
}

#name img {
    width: 50px;
    padding: 5px;
}

#name {
    display: flex;
    align-items:center;
}


#editRemove img {
    width: 30px;
    padding: 7px;
    cursor: pointer;
}

form {
    width: 100%;
}


form label {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form input {
    width: 80%;
    margin: 5px;
    height: 35px;
}

#submit {
    width: 200px;
    margin: 0 auto;
    display: block;
    background-color: #008C45;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
} 

.footer {
    position: relative;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #292927;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer span {
    cursor: pointer;
}