body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}

.hidden {
    display: none !important;
}

.loader{
    position: absolute;
    top:150px;
    bottom:0;
    left:0;
    right:220px;
}


.header {
    height: 25px;
    padding: 18px;
    background-color: #292927;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    display: inline;
    color: #f44336;
    font-weight: 600;
    font-size: 26px;
}

.header a,.header a:hover,.header a:visited,.header a:active {
    text-decoration: none;
    color: inherit;
}

.rightSide {
    display: flex;
    align-items: center;
}

.basket {
    display: flex;
    align-items: center;
}

.basket span, .admin span {
    color: #E8E8E8;
    font-size: 16px;
    padding: 2px;
    font-weight: 200;
}


.basket img {
    width: 25px;
}

.admin {
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.admin img {
    border-radius: 50%;
    width: 25px;
    margin-top: 2px;
}

.alertSuccess {
    padding: 15px;
    background-color: #008C45;
    color: white;
  }

.alertFailure {
    padding: 15px;
    background-color: #f44336;
    color: white;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }


.tabs {
    margin: 0 auto;
    padding-top: 20px;
    width: 400px;
}

.tabs button {
    width: 170px;
    height: 30px;
    padding: 5px;
    font-size: 17px;
    background-color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 10px 10px 0;
}

.tabs button img {
    width: 22px;
    padding-right: 5px;
    position: relative;
    top: 3px;
}

.buttonActive {
    text-decoration: underline;
    font-weight: bolder;
}

.main {
    margin: 0 auto;
    max-width: 700px;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
	.main {
		display: flex;
        flex-direction: column;
        border: none;
	}
    .main img {
        width: 200px !important;
        margin-top: 50px !important;
    }
}

.main img {
    width: 400px;
    margin: 10px;
}

.details {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.details > * {
    padding: 3px;
}

#name{
    margin-bottom: 0;
}

#price {
    width: 80%;
    font-weight: 600;
    margin-bottom: 40px;
}


#stock {
    font-size: 18px;
}

#quantity {
    width: 36px;
}

#buy {
    width: 60px;
    height: 30px;
    padding: 5px;
    background-color: #008C45;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin: 10px 10px 10px 5px;
}

#buy:hover {
    color: black;
  }

#buy:active{
    transform: translateY(3px);
}

#back {
    width: 60px;
    height: 30px;
    padding: 5px;
    background-color: #F8F8FF;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 10px 10px 0;
}
#back:active{
    transform: translateY(3px);
}


#back a,#back a:hover,#back a:visited,#back a:active {
    text-decoration: none;
    color: inherit;
}

.extra { 
    margin-top: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    background-color: #292927;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer span {
    cursor: pointer;
}